In [1]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print(f"My name is {name}. I am {age} years old")

What is your name? Hulisi
What is your age? 43
My name is Hulisi. I am 43 years old

In [2]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if a==b:
  print('The umbers are equal')
else:
  print('The numbers are not equal')

The numbers are not equal

In [4]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if a>b:
  print('A is greater than B')
elif a==b:
  print('A is equal to B')
else:
  print('A is less than B')

A is less than B

In [5]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [6]:
#Q5-Using while loop, print 5,4,3,2,1
k=5
while k>=1:
  print(k)
  k-=1

5
4
3
2
1

In [7]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for k in range(10,-1,-2):
  if k!=8:
    print(k)

10
6
4
2
0

In [8]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
def age(birthyear):
  current_year=2026
  return current_year-birthyear
print(age(1944))

82

In [9]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:

    def addition(self, x, y):
        return x + y

    def substraction(self, x, y):
        return x - y

    def multiplication(self, x, y):
        return x * y

    def divide(self, a, b):
        if b == 0:
            return "Error: Division by zero is not allowed."
        else:
            return a / b


calc = arithmetic()

print(f"Addition: {calc.addition(3, 4)}")
print(f"Subtraction: {calc.substraction(3, 4)}")
print(f"Multiplication: {calc.multiplication(3, 4)}")
print(f"Division: {calc.divide(3, 4)}")

Addition: 7
Subtraction: -1
Multiplication: 12
Division: 0.75

In [10]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
def calculate_sum(n):
    total = 0
    for i in range(1, n + 1):
        total += i
    return total

n = 3
print(f"The sum of the first {n} numbers is: {calculate_sum(n)}")

The sum of the first 3 numbers is: 6

In [11]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list.
import random
numbers = [random.random() for _ in range(10)]
print("First three elements:", numbers[:3])

First three elements: [0.5409681761239697, 0.2682994391615259, 0.6767929116371006]

In [12]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15
for i in range(1, n + 1):
    if i % 3 == 0:
        print(i)

3
6
9
12
15